<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Account Information</title>
    <link rel="stylesheet" href="/css/AddressBook.css">
    <!-- 链接 -->
    <%- include('./layouts/hearderLink.ejs')%>
</head>


<body>
    <!-- 顶部导航 -->
    <%- include('./layouts/header.ejs')%>

    <!-- 中间部分 top -->
    <div class="content clearfix">
        <!-- 标题 -->
        <div class="page-header">
            <h1>你好，Dan Xu！</h1>
            <div class="hr"></div>
        </div>

        <!-- 左边 导航栏 -->
        <%- include('./layouts/navbar.ejs')%>


        <form action="" id="add-users" class="login-warp">
            <!--右边  -->
            <div class="newadd-right clearfix">
                <div class="wrapper-grid1">
                    <h2>帐户信息</h2>
                    <div class="hr hrtwo"></div>
                </div>
                <div class="newadd-right-title">
                    <i class="fa fa-caret-down  fa-1x"></i>
                    <select name="prefvx" id="prefvx" class="prefix" title="招呼">
                        <option>先生</option>
                        <option>太太</option>
                        <option>女士</option>
                        <option value="" selected="selected">标题</option>
                    </select>
                </div>

                <div class="form-group" id="form-group">
                    <div class="input-box">
                        <input type="text" id="firstname" name="firstname" value="Dan" title="名字"
                            placeholder="First name *" class="input-text required-entry">
                    </div>
                </div>

                <div class="form-group" id="form-group">
                    <div class="input-box">
                        <input type="text" id="lastname" name="lastname" value="Xu" title="姓" placeholder="last name *"
                            class="input-text required-entry">
                    </div>
                </div>

                <div class="form-group" id="form-group">
                    <div class="input-box">
                        <input type="text" id="company" name="company" value="company" title="电子邮件地址"
                            placeholder="Email Address" class="input-text required-entry">
                    </div>
                </div>

                <div class="form-group" id="form-group">
                    <div class="input-box">
                        <input type="tel" name="password" value="" title="当前密码" placeholder="Current Password"
                            class="input-text required-entry " id="telephone">
                    </div>
                </div>


                <div class="form-group form-help">
                    <p>*必填字段</p>
                </div>

                <div class="form-group form-buttons last">
                    <input type="submit" class="savebtn" value="保存">
                </div>
            </div>
        </form>
        <!-- 遮罩层 start -->
        <%- include('./layouts/masklayer.ejs')%>
    </div>

    <!-- 底部 -->
    <%- include('./layouts/footer.ejs')%>

    <!-- 底部链接 -->
    <%- include('./layouts/footerLink.ejs')%>
</body>

</html>