<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>地址簿</title>
    <link rel="stylesheet" href="/css/AddressBook.css">
    <!-- 链接 -->
    <%- include('./layouts/hearderLink.ejs')%>
</head>

<body>
    <!-- 顶部导航 -->
    <%- include('./layouts/header.ejs')%>

    <!-- 中间部分 top -->
    <div class="content clearfix " id="content">
        <!-- 标题 -->
        <div class="page-header">
            <h1>你好，Dan Xu！</h1>
            <div class="hr"></div>
        </div>

        <!-- 左边 导航栏 -->
        <%- include('./layouts/navbar.ejs')%>


        <!--右边  -->
        <div class="newadd-right clearfix">
            <div class="wrapper-grid1">
                <h2>联系信息</h2>
                <div class="hr hrtwo"></div>
            </div>
            <div class="newadd-right-title">
                <i class="fa fa-caret-down  fa-1x"></i>
                <select name="prefix" id="prefix" class="prefix" title="招呼">
                    <option value="Mr">先生</option>
                    <option value="Mrs">太太</option>
                    <option value="Ms">女士</option>
                    <option value="" selected="selected">标题</option>
                </select>
            </div>

            <div class="form-group">
                <div class="input-box">
                    <input type="text" id="firstname" name="firstname" value="Dan" title="First Name"
                        placeholder="First name *" class="input-text required-entry">
                </div>
            </div>

            <div class="form-group">
                <div class="input-box">
                    <input type="text" id="lastname" name="lastname" value="Xu" title="Last Name"
                        placeholder="last name *" class="input-text required-entry">
                </div>
            </div>

            <div class="form-group">
                <div class="input-box">
                    <input type="text" id="company" name="company" value="company" title="company"
                        placeholder="Company " class="input-text required-entry">
                </div>
            </div>

            <div class="form-group">
                <div class="input-box">
                    <input type="tel" name="telephone" value="" title="Billing Telephone Number"
                        placeholder="Billing Telephone Number *" class="input-text required-entry " id="telephone">
                </div>
            </div>
            <div class="form-group">
                <div class="input-box">
                    <input type="tel" name="contact_telephone" value="" title="Contact Telephone number"
                        placeholder="Contact Telephone number" class="input-text" id="contact_telephone">
                </div>
            </div>
            <div class="wrapper-grid1">
                <h2>地址</h2>
                <div class="hr hrtwo"></div>
            </div>
            <div class="form-group">
                <div class="input-box">
                    <input type="text" name="street[]" value="" title="街道地址" id="street_1"
                        placeholder="Street Address *" class="input-text required-entry">
                </div>
            </div>
            <div class="form-group">
                <div class="input-box">
                    <input type="text" name="street[]" value="" title="街道地址2" id="street_2"
                        placeholder="Continue Address" class="input-text">
                </div>
            </div>
            <div class="form-group">
                <div class="input-box">
                    <input type="text" name="city" value="" title="市" placeholder="City *"
                        class="input-text required-entry" id="city">
                </div>
            </div>
            <div class="form-group">
                <div class="input-box">
                    <input type="text" name="postcode" value="" title="邮编/邮政编码" id="zip" placeholder="Zip/Postal Code *"
                        class="input-text validate-zip-international required-entry">
                </div>
            </div>

            <div class="newadd-right-title newadd-right-title2">
                <i class="fa fa-caret-down  fa-1x " id="fa-fw2"></i>
                <select name="prefix" id="prefix" class="prefix" title="国家">
                    <option value></option>
                    <option value="" selected="selected">美国</option>
                </select>
            </div>

            <div class="newadd-right-title newadd-right-title2">
                <i class="fa fa-caret-down  fa-1x " id="fa-fw2"></i>
                <select name="prefix" id="prefix" class="prefix" title="国家">
                    <option value="" selected="selected">请选择地区,州或省</option>
                    <option value="1">美国</option>
                    <option value="2">澳大利亚</option>
                    <option value="3">中国</option>
                    <option value="4">夏威夷</option>
                </select>
            </div>

            <div class="form-group form-help">
                <p>*必填字段</p>
            </div>

            <div class="form-group form-buttons last">
                <input type="button" class="savebtn" value="保存地址">
            </div>
        </div>
    </div>
    <!-- 底部 -->
    <%- include('./layouts/footer.ejs')%>

    <!-- 底部链接 -->
    <%- include('./layouts/footerLink.ejs')%>

</body>

</html>