<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Account Information</title>
    <link rel="stylesheet" href="/css/AddressBook.css">
    <!-- 链接 -->
    <%- include('./layouts/hearderLink.ejs')%>
</head>


<body>
    <!-- 顶部导航 -->
    <%- include('./layouts/header.ejs')%>

    <!-- 中间部分 top -->
    <div class="content clearfix">
        <!-- 标题 -->
        <div class="page-header">
            <h1>Change Password </h1>
            <div class="hr"></div>
        </div>

        <!-- 左边 导航栏 -->
        <%- include('./layouts/navbar.ejs')%>


        <form action="" id="add-users" class="login-warp">
            <!--右边  -->
            <div class="newadd-right clearfix">
                <div class="wrapper-grid1">
                    <h2>更换密码</h2>
                    <div class="hr hrtwo"></div>
                </div>

                <div class="form-group" id="form-group">
                    <div class="input-box">
                        <input type="tel" name="password" value="" title="当前密码" placeholder="Current Password"
                            class="input-text required-entry oldPassword" id="telephone">
                    </div>
                </div>

                <div class="form-group" id="form-group">
                    <div class="input-box">
                        <input type="tel" name="password" value="" title="新密码" placeholder="New Password"
                            class="input-text required-entry newPassword1" id="telephone">
                    </div>
                </div>

                <div class="form-group" id="form-group">
                    <div class="input-box">
                        <input type="tel" name="password" value="" title="确认新密码" placeholder="Confirm New Password"
                            class="input-text required-entry newPassword2" id="telephone">
                    </div>
                </div>


                <div class="form-group form-help">
                    <p>*必填字段</p>
                </div>

                <div class="form-group form-buttons last">
                    <input type="button" class="savebtn" value="保存">
                </div>
            </div>
        </form>
        <!-- 遮罩层 start -->
        <%- include('./layouts/masklayer.ejs')%>
    </div>

    <!-- 底部 -->
    <%- include('./layouts/footer.ejs')%>

    <!-- 底部链接 -->
    <%- include('./layouts/footerLink.ejs')%>

    <script>
        $('.savebtn').click(function () {
            $.ajax({
                type: 'post',
                url: '/admin/changePassword',
                data: 'oldPassword=' + $('.oldPassword').val() + '&newPassword=' + $('.newPassword2')
                    .val(),
                success: function (data) {
                    if (data.code == '1101') {
                        $('form')[0].reset()
                        alert(data.msg);
                        location.href="/admin/login";
                    }
                }
            })
        })
    </script>



</body>

</html>