<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>仪表板</title>
  <link rel="stylesheet" href="/css/DashBoaro.css">
  <!-- 链接 -->
  <%- include('./layouts/hearderLink.ejs')%>
</head>

<body>
  <!-- 头部 -->
  <%- include('./layouts/header.ejs')%>

  <!-- 中间部分 top -->
  <div class="content clearfix">
    <!-- 标题 -->
    <div class="page-header">
      <h1>你好，Dan Xu！</h1>
      <div class="hr"></div>
    </div>

    <!-- 左边 导航栏 -->
    <%- include('./layouts/navbar.ejs')%>

    <!-- 右边部分 -->
    <div class="wrapper">
      <div class="wrapper-grid1">
        <h2>帐户信息</h2>
        <div class="hr hrtwo"></div>
      </div>
      <div class="wrapper-grid2 clearfix">
        <div class="wrapper-grid2-left">
          <div class="info">
            <h4>联系信息</h4>
            <p>Dan Xu</p>
            <p>2427873127@qq.com</p>
            <a href="javascript:;" class="updata-ps">更改密码</a>
          </div>
          <button class="aditbtn">编辑</button>
        </div>
        <div class="wrapper-grid2-right">
          <div class="info">
            <h4>简讯</h4>
            <p>您目前尚未订阅任何简报</p>
          </div>
          <button class="aditbtn">编辑</button>
        </div>
      </div>
      <div class="wrapper-grid1">
        <h2>地址簿</h2>
        <div class="hr hrtwo"></div>
      </div>
      <div class="wrapper-grid2 clearfix">
        <div class="wrapper-grid2-left">
          <div class="info">
            <h4>默认账单地址</h4>
            <p>您目前尚未设置默认账单邮寄地址</p>
          </div>
          <button class="aditbtn">编辑</button>
        </div>
        <div class="wrapper-grid2-right">
          <div class="info">
            <h4>默认送货地址</h4>
            <p>您目前尚未设置默认送货地址</p>
          </div>
          <button class="aditbtn">编辑</button>
        </div>
      </div>
    </div>
    
    <!-- 遮罩层 start -->
    <%- include('./layouts/masklayer.ejs')%>

  </div>

  <!-- 底部 -->
  <%- include('./layouts/footer.ejs')%>

  <!-- 底部链接 -->
  <%- include('./layouts/footerLink.ejs')%>


</body>

</html>