<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Christian Louboutin</title>
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/AccessoriesItems.css">
  <!-- 链接 -->
  <%- include('./layouts/hearderLink.ejs')%>
</head>

<body>
  <!-- 顶部导航 -->
  <%- include('./layouts/header.ejs')%>

  <div id="change">
  <!-- 中间 -->
  <div class="common">
    <!-- 轮播图 -->
    <div class="lunbo">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <a href="javascript:;">
              <img src="./images/artisans_portugaba_jose_castellar_003.jpg" alt="...">
            </a>
          </div>
          <div class="item">
            <a href="javascript:;">
              <img src="./images/artisans_portugaba_jose_castellar_012.jpg" alt="...">
            </a>
          </div>
          <div class="item">
            <a href="javascript:;">
              <img src="./images/artisans_portugaba_jose_castellar_013.jpg" alt="...">
            </a>
          </div>
        </div>
      </div>
      <!-- 介绍葡萄牙语 -->
      <div class="xibanya">
        <a href="javascript:;">
          <span>介绍葡萄牙语</span>
        </a>
      </div>
    </div>
  </div>
  <!-- 中间2 -->
  <div class="common2">
    <div class="introduction">
      <!-- Bom Dia Portugaba -->
      <div class="bom up1">
        <div class="bom-text">
          <a href="javascript:;">
            <span>Bom Dia Portugaba！</span>
          </a>
        </div>
        <div class="bom-img">
          <a href="javascript:;">
            <img src="./images/SH_FW19_S1__Portugaba_4.jpg" alt="">
          </a>
        </div>
      </div>
      <!-- Nudes Collection -->
      <div class="nudes up2">
        <div class="nudes-text">
          <a href="javascript:;">
            <span>Nudes Collection</span>
          </a>
        </div>
        <div class="nudes-img">
          <a href="javascript:;">
            <img src="./images/SH__SS19_S2__NUDES_3_10.jpg" alt="">
          </a>
        </div>
      </div>
      <!-- 包 -->
      <div class="bao up3">
        <ul>
          <li>
            <div class="bao-img">
              <a href="/BEAUTYLIPVelvetMatte6">
                <img src="./images/christianlouboutin-portugalcaba-3195183_H701_1_1200x1200_1554116193.jpg" alt="">
              </a>
            </div>
            <div class="bao-text">
              <img src="./images/Snipaste_2019-05-13_09-36-12.png" alt="">
              <a href="javascript:;">
                <span>PORTUGABA</span></a>
              <div></div>
            </div>
          </li>
          <li>
            <div class="bao-img">
              <a href="javascript:;">
                <img src="./images/christianlouboutin-portugalcaba-3195183_M863_1_1200x1200_1552996460.jpg" alt="">
              </a>
            </div>
            <div class="bao-text">
              <img src="./images/Snipaste_2019-05-13_09-36-12.png" alt="">
              <a href="javascript:;">
                <span>PORTUGABA</span></a>
              <div></div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- 鞋子 -->
    <div class="xie-lunbo up4">
      <div class="xie-text">
        <span>新品上市</span>
      </div>
      <div class="xie">
        <ul>
          <li>
            <div class="bao-img">
              <a href="javascript:;">
                <img src="./images/christianlouboutin-vieiraorlato-3190633_CMA3_1_1200x1200_1554116313.jpg" alt="">
              </a>
            </div>
            <div class="bao-text">
              <img src="./images/Snipaste_2019-05-13_09-36-12.png" alt="">
              <a href="javascript:;">
                <span>Vieira Orlato Woman Flat</span>
              </a>
              <div></div>
            </div>
          </li>
          <li>
            <div class="bao-img">
              <a href="javascript:;">
                <img src="./images/christianlouboutin-mariejanebucket-3195102_Q137_1_1200x1200_1551786832.jpg" alt="">
              </a>
            </div>
            <div class="bao-text">
              <img src="./images/Snipaste_2019-05-13_09-36-12.png" alt="">
              <a href="javascript:;">
                <span>Marie Jane Bucket Bag</span>
              </a>
              <div></div>
            </div>
          </li>
          <li>
            <div class="bao-img">
              <a href="javascript:;">
                <img src="./images/christianlouboutin-sandaledudesert-3190389_M024_1_1200x1200_1554116241.jpg" alt="">
              </a>
            </div>
            <div class="bao-text">
              <img src="./images/Snipaste_2019-05-13_09-36-12.png" alt="">
              <a href="javascript:;">
                <span>Sandale Du Desert</span></a>
              <div></div>
            </div>
          </li>
          <li>
            <div class="bao-img">
              <a href="javascript:;">
                <img src="./images/christianlouboutin-sandale-3190661_P378_1_1200x1200_1554116235.jpg" alt="">
              </a>
            </div>
            <div class="bao-text">
              <img src="./images/Snipaste_2019-05-13_09-36-12.png" alt="">
              <a href="javascript:;">
                <span>Sandale Du Desert</span></a>
              <div></div>
            </div>
          </li>
          <li>
            <div class="bao-img">
              <a href="javascript:;">
                <img src="./images/christianlouboutin-pyraclou-3190245_P383_1_1200x1200_1552996466.jpg" alt="">
              </a>
            </div>
            <div class="bao-text">
              <img src="./images/Snipaste_2019-05-13_09-36-12.png" alt="">
              <a href="javascript:;">
                <span>Pyraclou</span></a>
              <div></div>
            </div>
          </li>
          <li>
            <div class="bao-img">
              <a href="./BEAUTYLIPVelvetMatte15">
                <img src="./images/christianlouboutin-pyraclou-3190699_WH43_1_1200x1200_1556016950.jpg" alt="">
              </a>
            </div>
            <div class="bao-text">
              <img src="./images/Snipaste_2019-05-13_09-36-12.png" alt="">
              <a href="javascript:;">
                <span>Pyraclou</span></a>
              <div></div>
            </div>
          </li>
        </ul>
      </div>
      <a href="javascript:;"></a>
      <a href="javascript:;"></a>
    </div>
  </div>
  <!-- 夏天在你脚下 -->
  <div class="common" style="padding: 0px 40px 40px;     height: 1000px;">
    <div class="lunbo">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" ro000000le="listbox">
          <div class="item active">
            <a href="javascript:;">
              <img src="./images/jpg-sh_ss19_s2__summersnooze_3_6.jpg" alt="...">
            </a>
          </div>
          <div class="item">
            <a href="javascript:;">
              <img src="./images/jpg-sh_ss19_s2__summersnooze_6_6.jpg" alt="...">
            </a>
          </div>
        </div>
      </div>
      <div class="xibanya">
        <a href="javascript:;">
          <span style="width: 300px;">夏天在你的脚下</span>
        </a>
      </div>
    </div>
  </div>

  <div class="common2">
    <div class="introduction">
      <!-- Bom Dia Portugaba -->
      <div class="bom up6" style="float: left;">
        <div class="bom-text-a">
          <a href="javascript:;">
            <span>Bom Dia Portugaba！</span>
          </a>
        </div>
        <div class="bom-img">
          <a href="javascript:;">
            <img src="./images/JPG-Sh_SS19_RunLoubiRunWomen_12.jpg" alt="">
          </a>
        </div>
      </div>
      <!-- Nudes Collection -->
      <div class="nudes up7" style="float: left; margin-left: 79px;">
        <div class="nudes-text">
          <a href="javascript:;">
            <span>Run Loubi Run For Him</span>
          </a>
        </div>
        <div class="nudes-img" style="margin-right: 0px; margin-top: 20px">
          <a href="javascript:;">
            <img src="./images/Sans_titre2_6.jpg" alt="" style="height: 460px;">
          </a>
        </div>
      </div>
      <!-- 包 -->
      <div class="bao up8" style="float: left;">
        <ul>
          <li>
            <div class="bao-img">
              <a href="javascript:;">
                <img src="./images/christianlouboutin-redrunnerdonna-1191332_CMA3_1_1200x1200_1550145045.jpg" alt="">
              </a>
            </div>
            <div class="bao-text">
              <img src="./images/Snipaste_2019-05-13_09-36-12.png" alt="">
              <a href="javascript:;">
                <span>Red Runner Donna Flat</span></a>
              <div></div>
            </div>
          </li>
          <li>
            <div class="bao-img">
              <a href="javascript:;">
                <img src="./images/christianlouboutin-redrunner-1190542_CMA3_1_1200x1200_1539255340.jpg" alt="">
              </a>
            </div>
            <div class="bao-text">
              <img src="./images/Snipaste_2019-05-13_09-36-12.png" alt="">
              <a href="javascript:;">
                <span>Red Runner Flat</span></a>
              <div></div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

  <!-- 底部 -->
  <%- include('./layouts/footer.ejs')%>

  <!-- 底部链接 -->
  <%- include('./layouts/footerLink.ejs')%>
  <%- include('./template/groom-search.ejs')%>
  <script>

  </script>

</body>

</html>