<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <link rel="stylesheet" href="/css/AccessoriesItems.css">
  <!-- 链接 -->
  <%- include('./layouts/hearderLink.ejs')%>
</head>

<body>
  <!-- 顶部导航 -->
  <%- include('./layouts/header.ejs')%>

  <!-- 妇女乃依分类 -->
 
  <!-- 鞋款介绍 -->
  <div class="shoes conmet">
    <%- include('./template/groom-search.ejs')%>
  </div>


  <!-- 底部 -->
  <%- include('./layouts/footer.ejs')%>

  <!-- 底部链接 -->
  <%- include('./layouts/footerLink.ejs')%>
</body>

</html>