<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>我的时事通讯</title>
    <link rel="stylesheet" href="/css/MyNewsletter.css">
    <!-- 链接 -->
    <%- include('./layouts/hearderLink.ejs')%>
</head>


<body>
    <!-- 头部 -->
    <%- include('./layouts/header.ejs')%>

    <!-- 中间部分 top -->
    <div class="content clearfix">
        <!-- 标题 -->
        <div class="page-header">
            <h1><%- include('./template/userName.ejs')%></h1>
            <div class="hr"></div>
        </div>

        <!-- 左边 导航栏 -->
        <%- include('./layouts/navbar.ejs')%>

        <!--右边  -->
        <div class="wrap">
            <div class="wrapper-grid1">
                <h2>通讯订阅</h2>
                <div class="hr hrtwo"></div>
            </div>
            <div class="order-center">
                <P>&nbsp;Christian Louboutin公司不会在未经您许可的情况下向公司以外的公司披露您的个人信息，也不会以任何方式和任何媒介向第三方披露您的个人信息。<a
                        href="javascript:;">隐私政策</a></P>
            </div>
            <div class="checkbox-group checkbox-group-left clearfix">
                <div class="input-box2">
                    <input type="checkbox" id="" name="is_subscribed[]"
                        title="我也希望收到我还希望收到来自Christian Louboutin的独家新闻以及来自在线精品店的产品供应情况。 （您可以在我的帐户中更改它）（您可以在我的帐户中更改它）"
                        value="commerce" class="checkbox ae-checkable-group">
                </div>
                <div class="subscr-wrapper">
                    <p> 我还希望收到来自Christian Louboutin的独家新闻以及来自在线精品店的产品供应情况。（您可以在我的帐户中更改它）
                    </p>
                </div>
            </div>
            <div class="checkbox-group checkbox-group-left clearfix">
                <div class="input-box2">
                    <input type="checkbox" id="" name="is_subscribed[]" title="我想要美容信息" value="commerce"
                        class="checkbox ae-checkable-group">
                </div>
                <div class="subscr-wrapper">
                    <p> 我想要美容信息
                    </p>
                </div>
            </div>
            <!-- 保存按钮 -->
            <div class="form-group form-buttons last">
                <input type="button" class="savebtn" value="保存">
            </div>
        </div>
        <!-- 遮罩层 start -->
        <%- include('./layouts/masklayer.ejs')%>
    </div>

    <!-- 底部 -->
    <%- include('./layouts/footer.ejs')%>

    <!-- 底部链接 -->
    <%- include('./layouts/footerLink.ejs')%>

    <script>
        function show() {
            $.ajax({
                type: 'get',
                url: '/admin/showNamence',
                data: '',
                success: function (data) {
                    let nameDate = template('userName_template', data[0])
                    $('.page-header h1').text(nameDate)
                    console.log(nameDate)
                }
            })
        }
        show()
    </script>
</body>

</html>